ConsumerKey        XXXXXXXXXXXXXXXXXXXXXXXXX
ConsumerSecret     XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AccessTokenKey     XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AccessTokenSecret  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

EncodingHPT cp866
AreasHPT \Fido\Soft\HPToss\areas.cfg
